@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: 'cv11', 'ss01';
  font-variant-numeric: tabular-nums;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
